<!--

Purpose: custom event handlers for the SitecoreEventLog module

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="eventlog:item" type="SitecoreEventLog.Website.Commands.SitecoreEventLogItemCommand,SitecoreEventLog.Website"/>
      <command name="eventlog:site" type="SitecoreEventLog.Website.Commands.SitecoreEventLogSiteCommand,SitecoreEventLog.Website"/>
    </commands>
    <events>
      <event name="publish:itemProcessed">
        <handler type="SitecoreEventLog.Website.EventHandlers.PublishEventHandler, SitecoreEventLog.Website" method="OnItemPublished"/>
      </event>
      <event name="item:saved">
        <handler type="SitecoreEventLog.Website.EventHandlers.SaveEventHandler, SitecoreEventLog.Website" method="OnItemSaved"/>
      </event>
      <event name="item:deleted">
        <handler type="SitecoreEventLog.Website.EventHandlers.DeleteEventHandler, SitecoreEventLog.Website" method="OnItemDeleted"/>
      </event>
    </events>
    <settings>
      <setting name="SitecoreEventLog.ConnectionString" value="SCAuditTrail"/>
    </settings>
    <!-- 
      Enables tracing of all modified fields.      
      Default : false
    -->
    <settings>
      <setting name="SitecoreEventLog.TraceChanges" value="true"/>
    </settings>
    <!-- 
      Traced fields will have their Old and New value truncated when longer than ValueMaxLength
      Default : 1000
    -->
    <settings>
      <setting name="SitecoreEventLog.TraceValueMaxLength" value="1000"/>
    </settings>
    <!-- 
      When TraceChanges is enabled, this setting enables the tracing of the Old value.
      If Both TraceOldValue and TraceNewValue are false, only the names of modified fields will be traced.
      Default : true
    -->
    <settings>
      <setting name="SitecoreEventLog.TraceOldvalue" value="true"/>
    </settings>
    <!-- 
      When TraceChanges is enabled, this setting enables the tracing of the New value
      If Both TraceOldValue and TraceNewValue are false, only the names of modified fields will be traced.
      Default : true
    -->
    <settings>
      <setting name="SitecoreEventLog.TraceNewValue" value="true"/>
    </settings>
  </sitecore>
</configuration>